@import url("https://use.typekit.net/yjx8jsv.css");
@import url("../../icomoon/style.css");
@font-face{font-family:neue-haas-grotesk-text;src:url(https://use.typekit.net/af/0230dd/00000000000000007735bb33/30/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/0230dd/00000000000000007735bb33/30/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/0230dd/00000000000000007735bb33/30/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/31808c/00000000000000007735bb70/30/l?subset_id=2&fvd=i9&v=3) format("woff2"),url(https://use.typekit.net/af/31808c/00000000000000007735bb70/30/d?subset_id=2&fvd=i9&v=3) format("woff"),url(https://use.typekit.net/af/31808c/00000000000000007735bb70/30/a?subset_id=2&fvd=i9&v=3) format("opentype");font-weight:900;font-style:italic;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/144886/00000000000000007735bb55/30/l?subset_id=2&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/144886/00000000000000007735bb55/30/d?subset_id=2&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/144886/00000000000000007735bb55/30/a?subset_id=2&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/2807c7/00000000000000007735bb48/30/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/2807c7/00000000000000007735bb48/30/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/2807c7/00000000000000007735bb48/30/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/384d9b/00000000000000007735bb6a/30/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/384d9b/00000000000000007735bb6a/30/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/384d9b/00000000000000007735bb6a/30/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/c906c2/00000000000000007735bb6e/30/l?subset_id=2&fvd=n9&v=3) format("woff2"),url(https://use.typekit.net/af/c906c2/00000000000000007735bb6e/30/d?subset_id=2&fvd=n9&v=3) format("woff"),url(https://use.typekit.net/af/c906c2/00000000000000007735bb6e/30/a?subset_id=2&fvd=n9&v=3) format("opentype");font-weight:900;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/2b59e1/00000000000000007735bb53/30/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/2b59e1/00000000000000007735bb53/30/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/2b59e1/00000000000000007735bb53/30/a?subset_id=2&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/fcc1c9/00000000000000007735bb6c/30/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/fcc1c9/00000000000000007735bb6c/30/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/fcc1c9/00000000000000007735bb6c/30/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;font-stretch:normal;font-display:auto;}
* {
	box-sizing: border-box;
}
html, body {
	overflow-x: hidden;
}
body {
	font-family: "neue-haas-grotesk-text", sans-serif;
	font-size: 16px;
	margin: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, main, menu, nav, section {
	display: block;
}
header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 3;
}
header div.dropdown {
	background-image: url("/assets/img/wood_bg.jpg");
	background-size: cover;
	color: #ebe9e3;
	max-height: 0;
	overflow: hidden;
	transition: max-height .5s ease-in-out;
	z-index: 3;
	position: relative;
}
header.dropdown-open div.dropdown {
	max-height: 500px;
}
.dropdown-inner {
	border-bottom: solid 3px #111d28;
	padding: 8px;
}
header div.dropdown .dropdown-inner:after {
	content: "";
	clear: both;
	display: table;
}
header .empty-posts .featured-posts {
	display: none;
}
header .empty-posts .empty {
	display: block;
	width: 100%;
	max-width: 708px;
	float: left;
}
.community-actions {
	border-left: solid transparent 1px;
	width: 100%;
	max-width: 192px;
	display: block;
	float: right;
}
.community-actions ul {
	list-style-type: none;
	padding: 0 8px 0 20px;
	margin: 0;
}
.community-actions li:not(.community-actions li:last-child) {
	margin-bottom: 8px;
}
.community-actions li .community-btn {
	background-color: #72a4bd;
	color: #111d28;
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	padding: 8px;
	display: block;
	transition: .5s;
}
.community-actions li .community-btn:hover {
	background-color: #58618c;
	color: #ebe9e3;
}
.navbar-wrapper {
	background-image: url("/assets/img/header_bg.png");
	background-size: cover;
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 700;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	padding: 16px 24px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0px 1px 4px rgb(0 0 0 / 5%);
	position: relative;
	z-index: 3;
	overflow: hidden;
}
.navbar-wrapper:before {
	content: "";
	background-color: rgba(174, 159, 177, .2);
	width: 70px;
	height: 250%;
	position: absolute;
	left: 189.4995px;
	transform: rotate(45deg);
}
.navbar-wrapper:after {
	content: "";
	background-color: rgba(174, 159, 177, .1);
	width: 20px;
	height: 250%;
	position: absolute;
	left: 284.24925px;
	transform: rotate(45deg);
}
.navbar-wrapper a.ts-logo-wrapper {
	width: 217px;
	height: 41px;
	display: inline-block;
	z-index: 2;
	overflow: hidden;
}
.navbar-wrapper .ts-logo-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 2;
}
.navbar-wrapper .navbar {
	font-size: 20px;
	text-transform: capitalize;
	text-align: right;
}
.navbar-wrapper .navbar ul {
	list-style-type: none;
	margin: 0;
}
.navbar-wrapper .navbar ul:not(.community-actions-mobile) {
	padding: 0;
}
.navbar-wrapper .navbar ul li {
	letter-spacing: .5px;
	display: inline-block;
	margin-right: 18px;
}
.navbar-wrapper .navbar ul li:last-child {
	margin-right: 0;
}
.navbar-wrapper .navbar ul li a {
	color: #72a4bd;
	text-decoration: none;
}
.navbar-wrapper .navbar ul li a:hover {
	color: #ae9fb1;
}
.navbar-wrapper .navbar ul li a.dropdown {
	padding-right: 16px;
	position: relative;
}
.navbar-wrapper .navbar ul li a.dropdown:after {
	content: "";
	border: solid 4px;
	border-color: #72a4bd transparent transparent transparent;
	position: absolute;
	right: 4px;
	top: 50%;
	transform: translateY(-25%);
}
.navbar-wrapper .navbar ul li a.dropdown:hover:after {
	border-color: #ae9fb1 transparent transparent transparent;
}
.dropdown-open .navbar-wrapper .navbar a.dropdown {
	color: #ae9fb1;
}
.dropdown-open .navbar-wrapper .navbar a.dropdown:after {
	border-color: #ae9fb1 transparent transparent transparent;
	transform: rotate(-180deg) translateY(-25%);
	top: 21.5%;
}
.community-actions-mobile {
	display: none;
}
.community-dash {
	background-color: #ae9fb1;
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 700;
	padding: 8px;
	width: 100%;
	max-width: 173px;
	height: 76px;
	position: absolute;
	left: 45.5px;
	bottom: 0px;
	transition: .5s linear;
	z-index: 2;
}
.community-dash.dash-open {
	bottom: -76px;
}
.community-dash .toggler {
	background-image: url("/assets/img/dashboard_arrow_v2.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	bottom: -22px;
	width: 173px;
	left: 0;
	height: 22px;
	cursor: pointer;
}
.community-dash .toggler:hover, .dash-open .toggler {
	background-position: 0 -28px;
}
.community-dash ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.community-dash ul li {
	margin: 0;
}
.community-dash ul li:first-child {
	margin-bottom: 4px;
}
.community-dash ul li .community-btn {
	background-color: #58618c;
	color: #ebe9e3;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	padding: 4px;
	display: block;
	transition: .5s;
}
.community-dash ul li .community-btn:hover {
	background-color: #111d28;
}
main {
	margin-top: 74px;
}
.ts-banner {
	min-height: calc(100vh - 74px);
	position: relative;
	overflow: hidden;
}
.slide-1 {
	background-image: url("/assets/img/midnights_hero.jpg");
	background-size: cover;
	background-position: center;
}
.slide-1:after {
	content: "";
	background-image: url("/assets/img/night_clouds_bg.jpeg");
	background-size: cover;
	background-position: center;
	opacity: .5;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.slide-1 a {
	background-image: url("/assets/img/midnights_logo.png");
	background-size: 100%;
	text-indent: -9999px;
	position: absolute;
	left: 62.5%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 451px;
	height: 141px;
	display: inline-block;
	z-index: 1;
}
.slide-2 {
	background-image: url("/assets/img/anti_hero_video.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.slide-2:after {
	content: "";
	background-color: rgba(0,0,0,.5);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.slide-2 .slide-layer.layer-1 {
	color: #ebe9e3;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	left: 64px;
	top: 50%;
	transform: translate(0,-50%);
	max-width: 398.99px;
	z-index: 1;
}
.slide-2 .slide-layer.layer-1 .layer-1-header {
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 10px;
}
.slide-2 a {
	text-decoration: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.owl-nav {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 100%;
	height: 40px;
}
#home .owl-nav button, #news .owl-nav button, #photos .owl-nav button {
	background-color: #58618c;
	color: #ebe9e3;
	border: none;
	font-size: 24px;
	position: absolute;
	width: 40px;
	height: 40px;
	outline: none;
	transition: .5s;
}
#home .owl-nav button:hover, #news .owl-nav button:hover, #photos .owl-nav button:hover {
	background-color: #72a4bd;
	color: #111d28;
}
#home .owl-nav button span, #news .owl-nav button span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	height: 32px;
}
#home .owl-nav button.owl-prev, #news .owl-nav button.owl-prev, #photos .owl-nav button.owl-prev {
	left: 16px;
}
#home .owl-nav button.owl-next, #news .owl-nav button.owl-next, #photos .owl-nav button.owl-next {
	right: 16px;
}
.owl-dots {
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 0px;
	width: 100%;
}
div.owl-dots button.owl-dot {
	background-color: #ebe9e3;
	border-radius: 50%;
	margin-right: 8px;
	width: 16px;
	height: 16px;
	z-index: 1;
}
div.owl-dots button.owl-dot:last-child {
	margin-right: 0;
}
div.owl-dots button.owl-dot.active {
	background-color: #ae9fb1
}
