@import url("https://use.typekit.net/yjx8jsv.css");
@import url("../../icomoon/style.css");
@font-face{font-family:neue-haas-grotesk-text;src:url(https://use.typekit.net/af/0230dd/00000000000000007735bb33/30/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/0230dd/00000000000000007735bb33/30/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/0230dd/00000000000000007735bb33/30/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/31808c/00000000000000007735bb70/30/l?subset_id=2&fvd=i9&v=3) format("woff2"),url(https://use.typekit.net/af/31808c/00000000000000007735bb70/30/d?subset_id=2&fvd=i9&v=3) format("woff"),url(https://use.typekit.net/af/31808c/00000000000000007735bb70/30/a?subset_id=2&fvd=i9&v=3) format("opentype");font-weight:900;font-style:italic;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/144886/00000000000000007735bb55/30/l?subset_id=2&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/144886/00000000000000007735bb55/30/d?subset_id=2&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/144886/00000000000000007735bb55/30/a?subset_id=2&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/2807c7/00000000000000007735bb48/30/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/2807c7/00000000000000007735bb48/30/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/2807c7/00000000000000007735bb48/30/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/384d9b/00000000000000007735bb6a/30/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/384d9b/00000000000000007735bb6a/30/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/384d9b/00000000000000007735bb6a/30/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/c906c2/00000000000000007735bb6e/30/l?subset_id=2&fvd=n9&v=3) format("woff2"),url(https://use.typekit.net/af/c906c2/00000000000000007735bb6e/30/d?subset_id=2&fvd=n9&v=3) format("woff"),url(https://use.typekit.net/af/c906c2/00000000000000007735bb6e/30/a?subset_id=2&fvd=n9&v=3) format("opentype");font-weight:900;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/2b59e1/00000000000000007735bb53/30/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/2b59e1/00000000000000007735bb53/30/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/2b59e1/00000000000000007735bb53/30/a?subset_id=2&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/fcc1c9/00000000000000007735bb6c/30/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/fcc1c9/00000000000000007735bb6c/30/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/fcc1c9/00000000000000007735bb6c/30/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;font-stretch:normal;font-display:auto;}
* {
	box-sizing: border-box;
}
html, body {
	overflow-x: hidden;
}
body {
	font-family: "neue-haas-grotesk-text", sans-serif;
	font-size: 16px;
	margin: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, main, menu, nav, section {
	display: block;
}
header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 3;
}
header div.dropdown {
	background-image: url("/assets/img/wood_bg.jpg");
	background-size: cover;
	color: #ebe9e3;
	max-height: 0;
	overflow: hidden;
	transition: max-height .5s ease-in-out;
	z-index: 3;
	position: relative;
}
header.dropdown-open div.dropdown {
	max-height: 500px;
}
.dropdown-inner {
	border-bottom: solid 3px #111d28;
	padding: 8px;
}
header div.dropdown .dropdown-inner:after {
	content: "";
	clear: both;
	display: table;
}
header .empty-posts .featured-posts {
	display: none;
}
header .empty-posts .empty {
	display: block;
	width: 100%;
	max-width: 708px;
	float: left;
}
.community-actions {
	border-left: solid transparent 1px;
	width: 100%;
	max-width: 192px;
	display: block;
	float: right;
}
.community-actions ul {
	list-style-type: none;
	padding: 0 8px 0 20px;
	margin: 0;
}
.community-actions li:not(.community-actions li:last-child) {
	margin-bottom: 8px;
}
.community-actions li .community-btn {
	background-color: #72a4bd;
	color: #111d28;
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	padding: 8px;
	display: block;
	transition: .5s;
}
.community-actions li .community-btn:hover {
	background-color: #58618c;
	color: #ebe9e3;
}
