@import url("https://use.typekit.net/yjx8jsv.css");
@import url("/assets/icomoon/style.css");
@font-face{font-family:neue-haas-grotesk-text;src:url(https://use.typekit.net/af/0230dd/00000000000000007735bb33/30/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/0230dd/00000000000000007735bb33/30/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/0230dd/00000000000000007735bb33/30/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/31808c/00000000000000007735bb70/30/l?subset_id=2&fvd=i9&v=3) format("woff2"),url(https://use.typekit.net/af/31808c/00000000000000007735bb70/30/d?subset_id=2&fvd=i9&v=3) format("woff"),url(https://use.typekit.net/af/31808c/00000000000000007735bb70/30/a?subset_id=2&fvd=i9&v=3) format("opentype");font-weight:900;font-style:italic;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/144886/00000000000000007735bb55/30/l?subset_id=2&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/144886/00000000000000007735bb55/30/d?subset_id=2&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/144886/00000000000000007735bb55/30/a?subset_id=2&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/2807c7/00000000000000007735bb48/30/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/2807c7/00000000000000007735bb48/30/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/2807c7/00000000000000007735bb48/30/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/384d9b/00000000000000007735bb6a/30/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/384d9b/00000000000000007735bb6a/30/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/384d9b/00000000000000007735bb6a/30/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/c906c2/00000000000000007735bb6e/30/l?subset_id=2&fvd=n9&v=3) format("woff2"),url(https://use.typekit.net/af/c906c2/00000000000000007735bb6e/30/d?subset_id=2&fvd=n9&v=3) format("woff"),url(https://use.typekit.net/af/c906c2/00000000000000007735bb6e/30/a?subset_id=2&fvd=n9&v=3) format("opentype");font-weight:900;font-style:normal;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/2b59e1/00000000000000007735bb53/30/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/2b59e1/00000000000000007735bb53/30/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/2b59e1/00000000000000007735bb53/30/a?subset_id=2&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;font-stretch:normal;font-display:auto;}@font-face{font-family:neue-haas-grotesk-display;src:url(https://use.typekit.net/af/fcc1c9/00000000000000007735bb6c/30/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/fcc1c9/00000000000000007735bb6c/30/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/fcc1c9/00000000000000007735bb6c/30/a?subset_id=2&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;font-stretch:normal;font-display:auto;}
* {
	box-sizing: border-box;
}
html, body {
	overflow-x: hidden;
}
body {
	color: #111d28;
	font-family: "neue-haas-grotesk-text", sans-serif;
	font-size: 16px;
	margin: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
	display: block;
}
header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 3;
}
header div.dropdown {
	background-image: url("/assets/img/wood_bg.jpg");
	background-size: cover;
	color: #ebe9e3;
	max-height: 0;
	overflow: hidden;
	transition: max-height .5s ease-in-out;
	z-index: 3;
	position: relative;
}
header.dropdown-open div.dropdown {
	max-height: 500px;
}
.dropdown-inner {
	border-bottom: 3px solid #111d28;
	padding: 8px;
}
header div.dropdown .dropdown-inner:after {
	content: "";
	clear: both;
	display: table;
}
header .empty-posts .featured-posts {
	display: none;
}
header .empty-posts .empty {
	display: block;
	width: 100%;
	max-width: 708px;
	float: left;
}
.community-actions {
	border-left: 1px solid transparent;
	width: 100%;
	max-width: 192px;
	display: block;
	float: right;
}
.community-actions ul {
	list-style-type: none;
	padding: 0 8px 0 20px;
	margin: 0;
}
.community-actions li:not(.community-actions li:last-child) {
	margin-bottom: 8px;
}
.community-actions li .community-btn {
	background-color: #72a4bd;
	color: #111d28;
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	padding: 8px;
	display: block;
	transition: .5s;
}
.community-actions li .community-btn:hover {
	background-color: #58618c;
	color: #ebe9e3;
}
.navbar-wrapper {
	background-color: #111d28;
	background-image: url("/assets/img/header_bg.png");
	background-size: cover;
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 700;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	padding: 16px 24px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0px 1px 4px rgb(0 0 0 / 5%);
	position: relative;
	z-index: 3;
	overflow: hidden;
}
.navbar-wrapper:before {
	content: "";
	background-color: rgba(174, 159, 177, .2);
	width: 70px;
	height: 250%;
	position: absolute;
	left: 189.4995px;
	transform: rotate(45deg);
}
.navbar-wrapper:after {
	content: "";
	background-color: rgba(174, 159, 177, .1);
	width: 20px;
	height: 250%;
	position: absolute;
	left: 284.24925px;
	transform: rotate(45deg);
}
.navbar-wrapper a.ts-logo-wrapper {
	width: 217px;
	height: 41px;
	display: inline-block;
	z-index: 2;
	overflow: hidden;
}
.navbar-wrapper .ts-logo-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 2;
}
.navbar-wrapper .navbar {
	font-size: 20px;
	text-transform: capitalize;
	text-align: right;
}
.navbar-wrapper .navbar ul {
	list-style-type: none;
	margin: 0;
}
.navbar-wrapper .navbar ul:not(.community-actions-mobile) {
	padding: 0;
}
.navbar-wrapper .navbar ul li {
	letter-spacing: .5px;
	display: inline-block;
	margin-right: 18px;
}
.navbar-wrapper .navbar ul li:last-child {
	margin-right: 0;
}
.navbar-wrapper .navbar ul li a {
	color: #72a4bd;
	text-decoration: none;
}
.navbar-wrapper .navbar ul li a:hover {
	color: #ae9fb1;
}
.navbar-wrapper .navbar ul li a.dropdown {
	padding-right: 16px;
	position: relative;
}
.navbar-wrapper .navbar ul li a.dropdown:after {
	content: "";
	border: 4px solid;
	border-color: #72a4bd transparent transparent transparent;
	position: absolute;
	right: 4px;
	top: 50%;
	transform: translateY(-25%);
}
.navbar-wrapper .navbar ul li a.dropdown:hover:after {
	border-color: #ae9fb1 transparent transparent transparent;
}
.dropdown-open .navbar-wrapper .navbar a.dropdown {
	color: #ae9fb1;
}
.dropdown-open .navbar-wrapper .navbar a.dropdown:after {
	border-color: #ae9fb1 transparent transparent transparent;
	transform: rotate(-180deg) translateY(-25%);
	top: 21.5%;
}
.community-actions-mobile {
	display: none;
}
.community-dash {
	background-color: #ae9fb1;
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 700;
	padding: 8px;
	width: 100%;
	max-width: 173px;
	height: 76px;
	position: absolute;
	left: 45.5px;
	bottom: 0px;
	transition: .5s linear;
	z-index: 2;
}
.community-dash.dash-open {
	bottom: -76px;
}
.community-dash .toggler {
	background-image: url("/assets/img/dashboard_arrow_v2.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	bottom: -22px;
	width: 173px;
	left: 0;
	height: 22px;
	cursor: pointer;
}
.community-dash .toggler:hover, .dash-open .toggler {
	background-position: 0 -28px;
}
.community-dash ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.community-dash ul li {
	margin: 0;
}
.community-dash ul li:first-child {
	margin-bottom: 4px;
}
.community-dash ul li .community-btn {
	background-color: #58618c;
	color: #ebe9e3;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	padding: 4px;
	display: block;
	transition: .5s;
}
.community-dash ul li .community-btn:hover {
	background-color: #111d28;
}
main {
	margin-top: 74px;
}
.ts-banner {
	min-height: calc(100vh - 74px);
	position: relative;
	overflow: hidden;
}
.slide-1 {
	background-image: url("/assets/img/midnights_hero.jpg");
	background-size: cover;
	background-position: center;
}
.slide-1:after {
	content: "";
	background-image: url("/assets/img/night_clouds_bg.jpeg");
	background-size: cover;
	background-position: center;
	opacity: .5;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.slide-1 a {
	background-image: url("/assets/img/midnights_logo.png");
	background-size: 100%;
	text-indent: -9999px;
	position: absolute;
	left: 62.5%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 451px;
	height: 141px;
	display: inline-block;
	z-index: 1;
}
.slide-2, .slide-3 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.slide-2:after, .slide-3:after {
	content: "";
	background-color: rgba(0,0,0,.5);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.slide-2 .slide-layer.layer-1, .slide-3 .slide-layer.layer-1 {
	color: #ebe9e3;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	left: 64px;
	top: 50%;
	transform: translate(0,-50%);
	max-width: 398.99px;
	z-index: 1;
}
.slide-2 .slide-layer.layer-1 .layer-1-header, .slide-3 .slide-layer.layer-1 .layer-1-header {
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 10px;
}
.slide-2 a, .slide-3 a {
	text-decoration: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.slide-2 {
	background-image: url("/assets/img/bejeweled_hero.jpg");
}
.slide-3 {
	background-image: url("/assets/img/anti_hero_video.jpg");
}
.owl-nav {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 100%;
	height: 40px;
	pointer-events: none;
}
#home .owl-nav button, #news .owl-nav button, #photos .owl-nav button {
	background-color: #58618c;
	color: #ebe9e3;
	border: none;
	outline: none;
	font-size: 24px;
	position: absolute;
	width: 40px;
	height: 40px;
	pointer-events: all;
	transition: .5s;
}
#home .owl-nav button:hover, #news .owl-nav button:hover, #photos .owl-nav button:hover {
	background-color: #72a4bd;
	color: #111d28;
	opacity: 1;
}
#home .owl-nav button span, #news .owl-nav button span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	height: 32px;
}
#home .owl-nav button.owl-prev, #news .owl-nav button.owl-prev, #photos .owl-nav button.owl-prev {
	left: 16px;
}
#home .owl-nav button.owl-next, #news .owl-nav button.owl-next, #photos .owl-nav button.owl-next {
	right: 16px;
}
.owl-dots {
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 0px;
	width: 100%;
}
div.owl-dots button.owl-dot {
	background-color: #ebe9e3;
	border-radius: 50%;
	margin-right: 8px;
	width: 16px;
	height: 16px;
	z-index: 1;
	transition: .5s;
}
div.owl-dots button.owl-dot:last-child {
	margin-right: 0;
}
div.owl-dots button.owl-dot:hover, div.owl-dots button.owl-dot.active {
	background-color: #ae9fb1
}
#about {
	background-image: url("/assets/img/about_bg.jpg");
	background-size: cover;
	background-position: left top;
	border-top: 8px solid #b9a079;
	padding: 48px 44px;
}
#about h1, #events h1 {
	font-family: 'neue-haas-grotesk-display', sans-serif;
	font-size: 40px;
	font-weight: 300;
	margin: 0 0 16px 0;
}
#about h1 a {
	color: #111d28;
	text-decoration: none;
}
#about h1 a span, #events h1 span {
	color: #58618c;
	font-weight: 700;
	font-style: italic;
	display: inline-block;
}
.bio-wrapper, .note-wrapper .note {
	background-color: #ebe9e3;
	border: 1px solid rgba(17,29,40,.25);
	box-shadow: 0 0 8px rgba(17,29,40,.125);
	padding: 28px;
	max-width: 550px;
}
.bio-wrapper h2 {
	font-family: 'neue-haas-grotesk-display', sans-serif;
	font-weight: 700;
	margin: 0;
}
.bio-wrapper p, .note-wrapper p {
	margin-top: 8px;
	margin-bottom: 0;
}
.small-text {
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-size: 13.6px;
	font-weight: 700;
	margin-top: 8px;
}
.small-text a {
	color: #58618c;
	text-decoration: none;
}
.small-text a:hover {
	text-decoration: underline 1px #58618c;
}
#events {
	background-image: url("/assets/img/eras_tour_bg.jpg");
	background-size: cover;
	background-position: right top;
	padding: 48px 44px;
}
#events .overlay {
	background-color: #111d28;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#events .events-container {
	position: relative;
	z-index: 1;
}
#events .events-container ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#events .events-container ul .event {
	background-color: rgba(17, 29, 40, .75);
	color: #ebe9e3;
	border: solid 1px #ebe9e3;
	padding: 20px 25px;
	margin-bottom: 12px;
	height: 38px;
}
#events .events-container ul .event:hover {
	background-color: #111d28;
}
.note-wrapper {
	max-width: 550px;
	margin-left: auto;
}
.note-wrapper h1 {
	color: #ebe9e3;
}
#events h1 span {
	color: #ae9fb1;
}
.note-wrapper .note {
	max-width: none;
}
.note-wrapper .note p.first {
	margin-top: 0;
}
#news {
	padding: 24px;
}
#news .empty {
	display: none;
}
#news .owl-carousel {
	max-width: 889.1875px; /* 793.1875px */;
	margin: auto;
}
#news .owl-stage-outer {
	padding: 16px 0;
	justify-content: center;
}
#news .owl-item {
	padding: 0 16px;
}
#news .owl-nav button.owl-prev {
	left: -48px;
}
#news .owl-nav button.owl-next {
	right: -48px;
}
#news .news-item {
	box-shadow: 0 0 16px rgba(17,29,40,.5);
	/* width: 243.062px;
	max-width: 243.062px; */
	width: 100%;
	margin: auto;
}
.news-thumb {
	padding-top: 56.25%;
	position: relative;
}
.news-thumb img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.news-content {
	background-color: #ebe9e3;
	padding: 8px;
}
.news-content h3 {
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 700;
	text-transform: capitalize;
	text-overflow: ellipsis;
	letter-spacing: .625px;
	white-space: nowrap;
	margin: 0;
	overflow: hidden;
}
.news-content h3 a {
	color: #111d28;
	text-decoration: none;
}
.news-content h3 a:hover {
	color: #58618c;
}
.news-excerpt {
	background-color: #111d28;
	background-image: url("/assets/img/night_clouds_bg.jpeg");
	background-position: center;
	background-size: cover;
	color: #ebe9e3;
	font-size: 12px;
	text-overflow: ellipsis;
	padding: 8px;
	height: 62px;
	overflow: hidden;
}
.news-excerpt p {
	margin: 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.news-link {
	background-color: #58618c;
	text-align: right;
	padding: 8px;
}
.news-link a {
	color: #ebe9e3;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	display: inline-block;
}
.news-link a:hover {
	opacity: .75;
}
#videos {
	border-top: 8px solid #ae9fb1;
}
.video-thumb {
	padding-top: 56.25%;
	position: relative;
}
.video-thumb img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.video-thumb .video-title {
	background-color: rgba(17,29,40,.375);
	color: #ebe9e3;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.video-title-inner {
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.video-1 .video-title-inner {left: 15.5%}
.video-2 .video-title-inner {left: 81.25%}
.video-3 .video-title-inner {left: 37.5%}
.video-4 .video-title-inner, .video-10 .video-title-inner {left: 50%}
.video-5 .video-title-inner {left: 75%}
.video-6 .video-title-inner, .video-8 .video-title-inner, .video-14 .video-title-inner {left: 25%}
.video-7 .video-title-inner {
	left: 30%;
	width: 35%;
}
.video-8 .video-title-inner {width: 25%}
.video-9 .video-title-inner {left: 80%}
.video-11 .video-title-inner {
	left: 65%;
	width: 30%;
}
.video-12 .video-title-inner {left: 20%}
.video-13 .video-title-inner {left: 21.5%}
.video-title-inner .video-name {
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-size: 36px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 8px;
}
.play-video {
	background-color: #58618c;
	color: #ebe9e3;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .5px;
	padding: 8px 16px 8px 32px;
	position: relative;
	display: inline-block;
	transition: .5s;
}
.play-video:before {
	content: "";
	border-width: 5px 0px 5px 8px;
	border-style: solid;
	border-color: transparent transparent transparent #ebe9e3;
	position: absolute;
	left: 16px;
	top: 50%;
	margin-top: -5px;
	display: inline-block;
	transition: .5s;
}
.play-video:hover {
	background-color: #72a4bd;
	color: #111d28;
}
.play-video:hover:before {
	border-color: transparent transparent transparent #111d28;
}
.embed {
	display: none;
}
.embed-responsive {
	padding-top: 56.25%;
	position: relative;
}
.embed-responsive iframe {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.embed-responsive span {
	display: none;
}
.owl-nav {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
.owl-nav button {
	pointer-events: all;
}
button.owl-prev {
	position: absolute;
	left: 1rem;
	transition: .5s;
}
button.owl-next {
	position: absolute;
	right: 1rem;
	transition: .5s;
}
button.owl-prev:hover, button.owl-next:hover {
	opacity: .5;
}
button.owl-prev a, button.owl-next a {
	background-size: contain;
	position: absolute;
	top: 50%;
	margin-top: -16.75px;
	width: 67px;
	height: 67px;
	display: inline-block;
}
button.owl-prev a {
	background-image: url("/assets/img/arrow_left.png");
	left: 0;
}
button.owl-next a {
	background-image: url("/assets/img/arrow_right.png");
	right: 0;
}
#photos {
	border-top: 8px solid #58618c;
	border-bottom: 8px solid #72a4bd;
}
.instagram, .tumblr {
	background-color: #363f48;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.instagram:after, .tumblr:after {
	content: "";
	clear: both;
	display: table;
}
.instagram:hover li, .tumblr:hover li {
	opacity: .5;
}
.instagram li, .tumblr li {
	width: 25%;
	float: left;
	transition: .5s;
}
.instagram li:hover, .tumblr li:hover {
	opacity: 1;
}
.instagram li a, .tumblr li a {
	padding-top: 100%;
	position: relative;
	display: block;
}
.instagram li a img, .tumblr li a img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
div.fancybox-thumbs__list a:before {
	border-color: #72a4bd;
}
div.fancybox-progress {
	background-color: #72a4bd;
}
#photos .owl-nav {
	top: 44.25%;
}
.follow-cta {
	background-color: #363f48;
	border-top: 5px solid #58618c;
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	padding: 16px;
}
.follow-cta a {
	color: #72a4bd;
	text-decoration: none;
}
.follow-cta a:hover {opacity: .75}
.terms-wrapper {
	background-color: #ebe9e3;
	padding: 16px;
}
.fixed-social .terms-wrapper {
	margin-bottom: 65px;
}
.terms-wrapper:after {
	content: "";
	clear: both;
	display: table;
}
.republic {
	padding: 6.47px 0;
	max-width: 73px;
	float: left;
	margin-right: 8px;
}
.republic img {
	width: 100%;
}
.terms {
	float: left;
	margin-left: 8px;
}
.terms ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.terms ul li {
	display: inline-block;
}
.terms ul li:after {
	content: " | ";
}
.terms ul li:last-child:after {
	display: none;
}
.terms-wrapper a {
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 700;
	color: #58618c;
	text-decoration: none;
}
.terms-wrapper a:hover {
	text-decoration: underline 1px #58618c;
}
.terms p {
	margin: 0;
}
.social-wrapper {
	background-color: #111d28;
	text-align: right;
	padding: 16.5px 32px;
}
.fixed-social .social-wrapper {
	z-index: 3;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
.social-wrapper ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.social-wrapper ul li {
	display: inline-block;
	margin-right: 8px;
}
.social-wrapper ul li a {
	background-color: #ebe9e3;
	color: #111d28;
	border-radius: 50%;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	width: 32px;
	height: 32px;
	position: relative;
	padding: 8.5px 0;
	display: inline-block;
	transition: .5s;
}
.social-wrapper ul li a.icon-envelope, .social-wrapper ul li a:hover {
	background-color: #ae9fb1;
}
